@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #4c1d95;
  --red-color-shade: #dc2626;
  --black-color: #1f2937;
}

hr {
  margin: 2.5rem 0rem;
}
body {
  font-family: "Roboto Slab", serif;
  height: 120vh;
}
.list-inline {
  display: inline;
}
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  text-align: right;
}
.nav a {
  color: white;
}
.nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav .active {
  font-weight: bold;
}

header {
  margin-top: 5.4rem;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

header img {
  width: 50vw;
  margin: auto;
  display: block;
  height: 50vh;
}
header h1 {
  padding: 1rem;
}
header span {
  color: var(--red-color-shade);
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
}

.list-unordered {
  list-style: none;
}

section {
  align-items: center;
  margin: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.off-white {
  background-color: #f3f4f6;
}
.section-technology-images {
  padding: 1rem;
}
.technologies img {
  max-width: 100px;
  padding: 0.5rem;
}

section p {
  margin: 0.5rem;
  padding: 1rem;
}

.container-center {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.blog-summary-container {
  text-align: justify;
}
.header-blog-heading {
  font-size: 4rem;
  text-align: center;
  margin: 1rem;
  color: var(--black-color);
}
.header-blog-img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .header-blog-img {
    width: 700px;
    height: auto;
  }
  .header-blog-heading {
    font-size: 5rem;
  }
}
@media (max-width: 800px) {
  .header-blog-heading {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .header-blog-heading {
    font-size: 2rem;
  }
}
.section-blog {
  padding: 3rem;
  line-height: 150%;
  display: block;
}
.blog-container {
  max-width: 900px;
  margin: auto;
  display: block;
  text-align: justify;
}

.blog-date {
  padding: 1rem;
  margin: 0.5rem;
}
@media (max-width: 500px) {
  .section-blog {
    padding: 0.5rem;
  }
  .blog-container p {
    padding: 0.5rem;
  }
  .blog-date {
    padding: 0.5rem;
  }
}
footer {
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  border-top-right-radius: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}