@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111827;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111827;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2DD4BF;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.circle__item {
  width: 230px;
  height: 230px;
}

.circle__spinner {
  width: 230px;
  height: 230px;
}

.circle__spinner .path {
  stroke: #111827;

  stroke-linecap: round;
  animation: dash 4s linear forwards;
  /* animation-delay: 2s; */
}

.logo {
  animation: logo 5s ease-out forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 180, 180;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 0, 180;
    stroke-dashoffset: 10;
    /* stroke: none; */
  }
}